.maincontainer{
    height: 700px;
    margin: auto;
    display: flex;
    background-image: url(login_image.webp)
}
.rightcontainer{
    
    height: 100%;
    width: 300px;
    margin-top: 20px;
    .input-style{
        height: 30px;
        margin-top: 10px;
        margin-bottom: 20px;
        border-radius: 10px ;
        text-align: center;
        background-color: lightgray;

    }
}
.leftcontainer{
    padding: 2px;
    height: 100%;
    width: 600px;
    text-align: center;
    
    
}
.button{
    height: 30px;
    border-radius: 10px;
    background-color: lightskyblue;
}
.reset{
    margin-left: 50px;
    height: 30px;
    border-radius: 10px;
    background-color: lightseagreen;
}
.profile-photo{
    height: 200px;
    width: 200px;
    margin-left: 125px;
}
.file{
    margin-top: 100px;
}